{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <p>{{ poll.datetime|date:'d.m.Y' }}</p>
        <h1>{{  poll.question }}</h1>
        <div class="card mt-4" style="width: 30rem;">
          <ul class="list-group list-group-flush">
              {% for choice in poll.choices.all %}
                <li class="list-group-item d-flex justify-content-between">
                    <i class="align-self-center">{{ choice.answer }}</i>
                    <div class="btn-group" role="group">
                        <a id="btnGroupDrop{{ choice.pk }}" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                           aria-expanded="false"></a>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop{{ choice.pk }}">
                          <li><a class="dropdown-item" href="#">Изменить</a></li>
                          <li><a class="dropdown-item" href="#">Удалить</a></li>
                        </ul>
                    </div>
                </li>
              {% endfor %}
          </ul>
        </div>

        <br>
        <p><a href="{% url "index" %}" class="btn btn-danger">Добавить ответ</a></p>
    </div>
{% endblock %}